<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Tag Management') }}
  </h2>
  <div class="module-content">
    <p>
		<ul>
			<li>{% link_for _('Edit/Remove'), controller='ckanext.tagmanager.controller:TagmanagerController', action='edit' %}</li>
			<li>{% link_for _('Merge - Method 0'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_0' %}</li>
			<li>{% link_for _('Merge - Method 1'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_1' %}</li>
			<li>{% link_for _('Merge - Manual'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_form' %}</li>
		</ul>
    </p>
  </div>
</div>
