<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Tag Management') }}
  </h2>
  <div class="module-content">
    <p>
		<ul>
			<li>{{ h.nav_link(_('Edit/Remove'), controller='tagmanager', action='edit') }}</li>
			<li>{{ h.nav_link(_('Merge - Method 0'), controller='tagmanager', action='merge_0') }}</li>
			<li>{{ h.nav_link(_('Merge - Method 1'), controller='tagmanager', action='merge_1') }}</li>
			<li>{{ h.nav_link(_('Merge - Manual'), controller='tagmanager', action='merge_form') }}</li>
		</ul>
    </p>
  </div>
</div>
