<h3>{{ _('You have suggestions for merging:') }}</h3>

<p>We strongly suggest you to merge: </p>
{% block strongly_suggest %}
	{% set limit = 5 %}
	{% include "tagmanager/snippets/merge_tags_0.html" %}
{% endblock %}
{% link_for _('see more...'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_0'%}

<br><br>

<p>You may also want to merge: </p>
{% block suggest %}
	{% set limit = 5 %}
	{% include "tagmanager/snippets/merge_tags_1.html" %}
{% endblock %}
{% link_for _('see more...'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_1'%}

<p>or check for the possible synonyms: </p>
{% block synonyms %}
	{% set limit = 5 %}
	{% include "tagmanager/snippets/merge_tags_2.html" %}
{% endblock %}
{% link_for _('see more...'), controller='ckanext.tagmanager.controller:TagmanagerController', action='merge_2'%}
