<h3>Somehow similiar tags: </h3>
<ul>
{% set ml = h.tagmanager_tags_merge_list_1() %}
{% set tl = h.tagmanager_list_tags() %}

{% for s in range(tl|count) %}
    {% for r in range(s,tl|count) %}
	{% if (s != r) and (ml[r][s] > 0.5 )%}
        <li><span class='tag'> {{ tl[s].name }}</span> and <span class='tag'>{{ tl[r].name }}</span> &gt;
        {# h.link_to(_('Merge'), h.url_for(controller='tagmanager', action='merge_confirm', tag1= tl[s].id, tag2=tl[r].id), class_='button') #}
        <a href='/tagmanager/merge_confirm?tag1={{ tl[s].id }}&tag2={{tl[r].id}}'>Merge</a>

        </li>
   	{% endif %}
   {% endfor %}
{% endfor %}
</ul>
